.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/salipro4ever.github.io.iml
index_2.html
about.html.bk